input[type=text]{
    font-size: 20px
}

body{
    background-repeat: repeat;
    background-size: 100px 50px;
     background-image:url("../image/cipari.jpg")
}
form{
    background-color: #DCDC00 
}/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 8, 2024, 12:00:07 PM
    Author     : kspule2
*/

